.footer {
	background-color: #362459;
	color: #000000;
	width: 100%;
}

.footerLogo {
	margin-left: 60px;
	width: 100px;
	height: auto;
}

.footer-inline-block {
	display: inline-block;
	vertical-align: -50%;
}

.menuItem {
	display: inline-block;
	color: white;
	text-align: center;
	margin-left: 15px;
}

.menuItem:hover {
	text-decoration: underline;
}
