.header {
	background-color: #8557da;
	color: #000000;
	width: 100%;
	z-index: 10;
}

.sticky {
	position: fixed;
	top: 0;
	left: 0;
}

.headerLogo {
	margin-left: 40px;
}

.header-inline-block {
	display: inline-block;
	vertical-align: -76%;
}

.menuItem {
	display: inline-block;
	color: white;
	text-align: center;
	margin-left: 15px;
}

.menuItem:hover {
	text-decoration: underline;
}
